<div class="section one-stop-shop background-image" style="background-image:url(' {{ settings.one-stop-img | img_url: '1000x' }} ')">
    <div class="text">
        <h3><strong>One Stop Shop</strong></h3>
        <div class="arrow">
            {% include 'svg-arrow-left' %}
        </div>  
        <p><strong>Salon</strong></p>
        <p>{{ settings.one-stop-salon-description }}</p>
        <p><strong>Swaye Boutique</strong></p>
        <p>{{ settings.one-stop-shop-description }}</p>
        <button class="dark full-width"><a href="/collections">Shop Now</a></button>
    </div>
</div>