<div class="section one-stop-shop background-image" style="background-image:url(' https://cdn.shopify.com/s/files/1/0026/2727/2768/files/chair.jpg?11563163636358395923 ')">
    <div class="text">
        <h3><strong>One Stop Shop</strong></h3>
        <div class="arrow">
            {% include 'svg-arrow-left' %}
        </div>  
        <p><strong>Salon</strong></p>
        <p>Lorem incredible ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <p><strong>Swaye Boutique</strong></p>
        <p>Lorem incredible ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
        <button class="dark full-width"><a href="/">Shop Now</a></button>
    </div>
</div>