$screen-md: 1224px;
$screen-base: 1024px;
$screen-smedium: 850px;
$screen-sm: 700px;
$screen-tiny: 450px;

$base: 50px;

.section {
    width: 100vw;
    max-width: 100vw;
    padding: $base * 2 0;
    margin: 0 !important;
    &.double-padding {
        padding: $base * 2 0;
    }
    .inner {
        max-width: $screen-md;
        margin: 0 auto;
        padding: 0 $base * 2;
    }
    @media (max-width: $screen-sm){
        padding: $base 0;
        &.double-padding {
            padding: $base 0;
        }
        .inner {
            padding: 0 $base;
        }
    }
    @media (max-width: 650px){
        margin-top: $base / 2 !important;
    }
}

ul {
    padding-left: 0;
}

img {
    width: 100%;
}

.background-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.page-title {
    text-align: center;
    position: relative;
    display: inline-block;

    h1, span {
        font-size: 15vw !important;
        font-weight: 900 !important;
        text-transform: uppercase;
        letter-spacing: .04em;

        @media( min-width: $screen-md ){
            font-size: 183px !important;;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: contain;
        pointer-events: none;
    }

    .letters-atop {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        pointer-events: none;
        span {
            @extend .h1;
            z-index: 1;
            opacity: 0;
            width: 99%;
            
            &:nth-of-type(4), &:nth-of-type(5) {
                z-index: 3;
            }
        }
    }

    &.gallery-title {
        img {
            height: 170%;
            top: -45%;
            left: 5%;
        }

        .letters-atop span {
            letter-spacing: 0.03em;
        }

        .letters-atop span:nth-of-type(4), .letters-atop span:nth-of-type(5){
            opacity: 1;
        }
    }

    &.team-title {
        img {
            height: 170%;
            top: -31%;
            left: -2%;
        }

        .letters-atop span {
            letter-spacing: 0.037em;
        }

        .letters-atop span:nth-of-type(3) {
            opacity: 1;
        }
    }

    &.prices-title {
        img {
            height: 165%;
            top: -33%;
            left: -1%;
            transform: scale(-1) rotate(30deg);
        }

        .letters-atop span {
            letter-spacing: 0.036em;
        }

        .letters-atop span:nth-of-type(3), .letters-atop span:nth-of-type(4) {
            opacity: 1;
        }
    }

    &.services-title {
        img {
            height: 175%;
            top: -37%;
            left: -2%;
            transform: scale(-1) rotate(30deg);
        }

        .letters-atop span {
            letter-spacing: 0.033em;
        }

        .letters-atop span:nth-of-type(4), .letters-atop span:nth-of-type(5) {
            opacity: 1;
        }
    }

    &.cart-title {
        img {
            height: 155%;
            top: -10%;
            left: -5%;
        }

        .letters-atop span {
            letter-spacing: 0.033em;
        }

        .letters-atop span:nth-of-type(2) {
            opacity: 1;
        }
    }
}

.image-with-text {
    display: flex;
    flex-direction: row;
    padding-left: $base;
    padding-right: $base;
    align-items: center;
    justify-content: center;
    .text {
        flex-shrink: 180;
        text-align: right;
        margin-right: $base * 1.5;
    }
    .background-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        &:before {
            content: "";
            width: 1px;
            background-color: $dark-grey;
            position: absolute;
            left: $base * -.75;
            top: 0;
            bottom: 0;
        }
        @media(max-width: $screen-base){
            width: 19.5vw;
            height: 19.5vw;
        }
    }
    @media (max-width: 750px){
        flex-direction: column;
        .text {
            margin-right: 0;
            text-align: center;
        }
        .background-image {
            &:before {
                height: 0px;
                width: 0px;
            }
        }
    }
}

.text-image-block {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    @media (max-width: 650px){
        flex-direction: column;
    }
    .text {
        width: 40vw;
        background-color: $black;
        color: $white;
        margin-right: 2.5vw;
        padding: 5vw;
        position: relative;
        &::after {
            position: absolute;
            width: 1px;
            height: 130%;
            content: "";
            background-color: $dark-grey;
            right: 0;
            top: -15%;
        }
        h3 {
            color: $white;
        }
        @media (max-width: 650px){
            width: 97.5vw;
            padding: $base 10vw;
        }
    }
    &.reversed {
        flex-direction: row-reverse;
        @media (max-width: 650px){
            flex-direction: column;
        }
        .text {
            margin-right: 0;
            margin-left: 2.5vw;
            &::after {
                right: auto;
                left: 0;
            }
        }
        .background-image {
            @media (max-width: 650px){
                margin-left: 2.5vw;
            }
            &::after {
                right: auto;
                left: 0;
            }
        }
    }
    .background-image {
        width: 60vw;
        @media (max-width: 650px){
            width: 97.5vw;
            min-height: 300px;
            position: relative;
            &::after {
                position: absolute;
                width: 1px;
                height: 130%;
                content: "";
                background-color: $dark-grey;
                right: 0;
                top: -15%;
            }
        }
    }
}

button, .button {
  //  border: 1px solid $white;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 1;
    a {
        color: $white;
        display: inline-block;
        font-size: 14px;
        padding: 13.5px 40px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .3px;
    }
    &.dark {
        border: 1px solid $black;
        a {
            color: $black;
        }
    }
    &.black {
        background-color: $black;
        color: $white;
        border: none;
    }
    &.blue {
        color: $white;
        background-color: $blue;
        @extend .bold;
        padding: 13.5px 40px;
        border: none;
        a {
            color: $white;
            background-color: $blue;
            @extend .bold;
        }
    }
    &.blue-outline {
        background-color: $white;
        border: 1px solid $blue;
        color: $blue;
    }
    &.full-width {
        width: 100%;
    }
}

