$screen-md: 1224px;
$screen-base: 1024px;
$screen-sm: 700px;

$base: 50px;

.section {
    width: 100vw;
    max-width: 100vw;
    padding: $base * 2 0;
    margin: 0 !important;
    &.double-padding {
        padding: $base * 2 0;
    }
    .inner {
        max-width: $screen-md;
        margin: 0 auto;
        padding: 0 $base * 2;
    }
}

ul {
    padding-left: 0;
}

img {
    width: 100%;
}

.background-image {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.page-title {
    text-align: center;
    img {
        max-width: 400px;
       
    }
}

.image-with-text {
    display: flex;
    flex-direction: row;
    padding-left: $base;
    padding-right: $base;
    align-items: center;
    justify-content: center;
    .text {
        flex-shrink: 180;
        text-align: right;
        margin-right: $base * 1.5;
    }
    .background-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        &:before {
            content: "";
            width: 1px;
            background-color: $dark-grey;
            position: absolute;
            left: $base * -.75;
            top: 0;
            bottom: 0;
        }
        @media(max-width: $screen-base){
            width: 19.5vw;
            height: 19.5vw;
        }
    }
    @media (max-width: 750px){
        flex-direction: column;
        .text {
            margin-right: 0;
            text-align: center;
        }
        .background-image {
            &:before {
                height: 0px;
                width: 0px;
            }
        }
    }
}

.text-image-block {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    @media (max-width: 650px){
        flex-direction: column;
    }
    .text {
        width: 40vw;
        background-color: $black;
        color: $white;
        margin-right: 2.5vw;
        padding: 5vw;
        position: relative;
        &::after {
            position: absolute;
            width: 1px;
            height: 130%;
            content: "";
            background-color: $dark-grey;
            right: 0;
            top: -15%;
        }
        h3 {
            color: $white;
        }
        @media (max-width: 650px){
            width: 97.5vw;
            padding: $base 10vw;
        }
    }
    &.reversed {
        flex-direction: row-reverse;
        @media (max-width: 650px){
            flex-direction: column;
        }
        .text {
            margin-right: 0;
            margin-left: 2.5vw;
            &::after {
                right: auto;
                left: 0;
            }
        }
        .background-image {
            @media (max-width: 650px){
                margin-left: 2.5vw;
            }
            &::after {
                right: auto;
                left: 0;
            }
        }
    }
    .background-image {
        width: 60vw;
        @media (max-width: 650px){
            width: 97.5vw;
            min-height: 300px;
            position: relative;
            &::after {
                position: absolute;
                width: 1px;
                height: 130%;
                content: "";
                background-color: $dark-grey;
                right: 0;
                top: -15%;
            }
        }
    }
}

button {
    border: 1px solid $white;
    background-color: transparent;
    a {
        color: $white;
        display: inline-block;
        font-size: 14px;
        padding: 13.5px 40px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: .3px;
    }
    &.dark {
        border: 1px solid $black;
        a {
            color: $black;
        }
    }
    &.full-width {
        width: 100%;
    }
}