$fnt-header: 'Playfair Display', serif;
$fnt-body: 'Montserrat', sans-serif;


h1, .h1 {
    font-family: $fnt-header;
    font-size: 205px;
    margin-bottom: 0;
    line-height: 1.2;
    @media (max-width: $screen-base){
        font-size: 20vw;
    }
}

h2, .h2 {
    font-family: $fnt-header;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: $base / 4;
    @media (max-width: $screen-base){
        font-size: 6.2vw;
    }
}

h3, .h3 {
    font-family: $fnt-header;
    font-size: 48px;
    @media (max-width: $screen-base){
        font-size: 4.7vw;
    }
    @media (max-width: $screen-sm){
        font-size: 32.9px;
    }
}

h4, .h4 {
    font-family: $fnt-header;
    font-size:36px;
    text-transform: capitalize;
    line-height: 1;
    padding-bottom: 36px;
    @media (max-width: $screen-base){
        font-size: 3.5vw;
    }
}

h5, .h5 {
    font-family: $fnt-header;
    font-size: 20px;
    letter-spacing: .03em;
    @media (max-width: $screen-base){
        font-size: 1.95vw;
    }
    @media (max-width: $screen-sm){
        font-size: 14px;
    }
}

p, .p {
    font-family: $fnt-body;
    font-size: 14px;
    @media (max-width: $screen-base){
        font-size: 1.359vw;
    }
    @media (max-width: 883px){
        font-size: 12px;
    }
}

.small {
    font-family: $fnt-body;
    font-size: 12px;
    @media (max-width: $screen-base){
        font-size: 1.18vw;
    }
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.caps {
    text-transform: uppercase;
}

.light {
    font-weight: 300;
}