* {
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

.clearfix {
  clear: both; }

.hidden {
  display: none; }

a {
  text-decoration: none; }

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  position: relative; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
img {
  border: none;
  max-width: 100%;
  height: auto; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.bg-black {
  background-color: #000000; }

.bg-grey {
  background-color: #F4F4F4; }

.bg-white {
  background-color: #FFFFFF; }

.txt-black {
  color: #000000; }

.txt-grey {
  color: #F4F4F4; }

.txt-white {
  color: #FFFFFF; }

.section {
  width: 100vw;
  max-width: 100vw;
  padding: 100px 0;
  margin: 0 !important; }
  .section.double-padding {
    padding: 100px 0; }
  .section .inner {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 100px; }
  @media (max-width: 700px) {
    .section {
      padding: 50px 0; }
      .section.double-padding {
        padding: 50px 0; }
      .section .inner {
        padding: 0 50px; } }
  @media (max-width: 650px) {
    .section {
      margin-top: 50px !important; } }

ul {
  padding-left: 0; }

img {
  width: 100%; }

.background-image {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important; }

.page-title {
  text-align: center; }
  .page-title img {
    max-width: 400px; }

.image-with-text, .testimonial .testimonial-slider .slide, .team-member .employee {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  justify-content: center; }
  .image-with-text .text, .testimonial .testimonial-slider .slide .text, .team-member .employee .text {
    flex-shrink: 180;
    text-align: right;
    margin-right: 75px; }
  .image-with-text .background-image, .testimonial .testimonial-slider .slide .background-image, .team-member .employee .background-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative; }
    .image-with-text .background-image:before, .testimonial .testimonial-slider .slide .background-image:before, .team-member .employee .background-image:before {
      content: "";
      width: 1px;
      background-color: #979797;
      position: absolute;
      left: -37.5px;
      top: 0;
      bottom: 0; }
    @media (max-width: 1024px) {
      .image-with-text .background-image, .testimonial .testimonial-slider .slide .background-image, .team-member .employee .background-image {
        width: 19.5vw;
        height: 19.5vw; } }
  @media (max-width: 750px) {
    .image-with-text, .testimonial .testimonial-slider .slide, .team-member .employee {
      flex-direction: column; }
      .image-with-text .text, .testimonial .testimonial-slider .slide .text, .team-member .employee .text {
        margin-right: 0;
        text-align: center; }
      .image-with-text .background-image:before, .testimonial .testimonial-slider .slide .background-image:before, .team-member .employee .background-image:before {
        height: 0px;
        width: 0px; } }

.text-image-block {
  display: flex;
  flex-direction: row;
  min-height: 300px; }
  @media (max-width: 650px) {
    .text-image-block {
      flex-direction: column; } }
  .text-image-block .text {
    width: 40vw;
    background-color: #000000;
    color: #FFFFFF;
    margin-right: 2.5vw;
    padding: 5vw;
    position: relative; }
    .text-image-block .text::after {
      position: absolute;
      width: 1px;
      height: 130%;
      content: "";
      background-color: #979797;
      right: 0;
      top: -15%; }
    .text-image-block .text h3 {
      color: #FFFFFF; }
    @media (max-width: 650px) {
      .text-image-block .text {
        width: 97.5vw;
        padding: 50px 10vw; } }
  .text-image-block.reversed {
    flex-direction: row-reverse; }
    @media (max-width: 650px) {
      .text-image-block.reversed {
        flex-direction: column; } }
    .text-image-block.reversed .text {
      margin-right: 0;
      margin-left: 2.5vw; }
      .text-image-block.reversed .text::after {
        right: auto;
        left: 0; }
    @media (max-width: 650px) {
      .text-image-block.reversed .background-image {
        margin-left: 2.5vw; } }
    .text-image-block.reversed .background-image::after {
      right: auto;
      left: 0; }
  .text-image-block .background-image {
    width: 60vw; }
    @media (max-width: 650px) {
      .text-image-block .background-image {
        width: 97.5vw;
        min-height: 300px;
        position: relative; }
        .text-image-block .background-image::after {
          position: absolute;
          width: 1px;
          height: 130%;
          content: "";
          background-color: #979797;
          right: 0;
          top: -15%; } }

button {
  border: 1px solid #FFFFFF;
  background-color: transparent; }
  button a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding: 13.5px 40px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .3px; }
  button.dark {
    border: 1px solid #000000; }
    button.dark a {
      color: #000000; }
  button.full-width {
    width: 100%; }

h1, .h1 {
  font-family: "Playfair Display", serif;
  font-size: 205px;
  margin-bottom: 0;
  line-height: 1.2; }
  @media (max-width: 1024px) {
    h1, .h1 {
      font-size: 20vw; } }

h2, .h2 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 12.5px; }
  @media (max-width: 1024px) {
    h2, .h2 {
      font-size: 6.2vw; } }

h3, .h3 {
  font-family: "Playfair Display", serif;
  font-size: 48px; }
  @media (max-width: 1024px) {
    h3, .h3 {
      font-size: 4.7vw; } }
  @media (max-width: 700px) {
    h3, .h3 {
      font-size: 32.9px; } }

h4, .h4 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1;
  padding-bottom: 36px; }
  @media (max-width: 1024px) {
    h4, .h4 {
      font-size: 3.5vw; } }

h5, .h5 {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  letter-spacing: .03em; }
  @media (max-width: 1024px) {
    h5, .h5 {
      font-size: 1.95vw; } }
  @media (max-width: 700px) {
    h5, .h5 {
      font-size: 14px; } }

p, .team-header .filters .filter, .p, nav ul li a, .index-sections header .collection-sorting__dropdown select, .index-sections header .collection-sorting__dropdown option, .collection-page header .collection-sorting__dropdown select, .collection-page header .collection-sorting__dropdown option {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }
  @media (max-width: 1024px) {
    p, .team-header .filters .filter, .p, nav ul li a, .index-sections header .collection-sorting__dropdown select, .index-sections header .collection-sorting__dropdown option, .collection-page header .collection-sorting__dropdown select, .collection-page header .collection-sorting__dropdown option {
      font-size: 1.359vw; } }
  @media (max-width: 883px) {
    p, .team-header .filters .filter, .p, nav ul li a, .index-sections header .collection-sorting__dropdown select, .index-sections header .collection-sorting__dropdown option, .collection-page header .collection-sorting__dropdown select, .collection-page header .collection-sorting__dropdown option {
      font-size: 12px; } }

.small {
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }
  @media (max-width: 1024px) {
    .small {
      font-size: 1.18vw; } }

.bold {
  font-weight: 700; }

.caps {
  text-transform: uppercase; }

.light {
  font-weight: 300; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.fadeInDown {
  animation-name: fadeInDown; }

#shopify-section-header {
  position: sticky;
  top: 0;
  z-index: 990; }

nav {
  background-color: #000000;
  padding: 6.25px 50px;
  position: relative;
  z-index: 901;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 700px) {
    nav {
      padding: 6.25px 25px; } }
  nav .shop-amount {
    position: absolute;
    font-size: 10px;
    background-color: #FFFFFF;
    color: #000000;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    bottom: 0;
    right: -5px; }
  nav .shop-icon {
    width: 16px;
    height: 20PX; }
  nav .call-icon {
    width: 18px;
    height: 18px; }
  nav .menu-icon {
    width: 18px;
    height: 16px; }
  nav .logo {
    position: relative;
    top: 5px; }
    nav .logo:hover {
      opacity: 1; }
    nav .logo img {
      width: 127px;
      height: 57px; }
      @media (max-width: 700px) {
        nav .logo img {
          height: 32px;
          width: 71px; } }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    @media (max-width: 700px) {
      nav ul {
        display: none; } }
    nav ul li {
      margin-right: 25px; }
      nav ul li:last-of-type {
        margin-right: 0; }
      nav ul li:nth-of-type(5) {
        margin-right: 12.5px;
        transform: translateY(1px); }
      nav ul li a {
        color: #FFFFFF;
        position: relative; }
  nav .mobile-nav {
    display: none; }
    @media (max-width: 700px) {
      nav .mobile-nav {
        display: flex;
        flex-direction: row;
        align-items: center; }
        nav .mobile-nav a {
          position: relative;
          padding-left: 16.6666666667px; } }
  nav.side-bar {
    background-color: transparent;
    width: 20vw;
    position: absolute;
    padding-top: 100px; }
    nav.side-bar .list--nav {
      display: flex;
      flex-direction: column; }
      nav.side-bar .list--nav li {
        width: 100%;
        background-color: #F4F4F4;
        border: none;
        margin-bottom: 8.3333333333px;
        opacity: .55; }
        nav.side-bar .list--nav li:hover {
          opacity: 1; }
          nav.side-bar .list--nav li:hover a {
            font-weight: 700; }
        nav.side-bar .list--nav li a {
          padding: 8.3333333333px 12.5px; }
        nav.side-bar .list--nav li.active {
          opacity: 1;
          font-weight: 700; }
  nav.breadcrumb-nav {
    width: 80vw;
    margin-left: 20vw;
    background-color: transparent; }

.shop-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 12.5px 50px 12.5px 12.5px;
  margin-bottom: 100px;
  position: relative; }
  .shop-bar .check-out {
    margin-left: 25px; }

.footer {
  background-color: #F4F4F4;
  position: relative; }
  .footer .leaves {
    position: absolute;
    top: -50%;
    right: 0;
    width: 180px; }
    @media (max-width: 700px) {
      .footer .leaves {
        top: -15vw;
        width: 25vw;
        min-width: 120px; } }
  .footer .inner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between; }
    @media (max-width: 700px) {
      .footer .inner {
        flex-direction: column;
        text-align: center;
        align-items: center; } }
    .footer .inner .logo {
      width: 164px; }
      .footer .inner .logo img {
        mix-blend-mode: darken; }
    .footer .inner .menu, .footer .inner .contact {
      padding-left: 16.6666666667px;
      border-left: 1px solid #979797;
      display: flex;
      align-items: center; }
      @media (max-width: 700px) {
        .footer .inner .menu, .footer .inner .contact {
          border-left: 0px; } }
    .footer .inner .contact, .footer .inner .menu, .footer .inner .logo {
      margin-right: 100px; }
      @media (max-width: 1024px) {
        .footer .inner .contact, .footer .inner .menu, .footer .inner .logo {
          margin-right: 2vw; } }
    @media (max-width: 700px) {
      .footer .inner .contact {
        margin-top: 25px; } }

.copywright {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 650px) {
    .copywright {
      margin-top: 0 !important; } }

footer {
  margin-top: 150px; }
  @media (max-width: 700px) {
    footer {
      margin-top: 15vw; } }

.testimonial {
  position: relative; }
  .testimonial .testimonial-slider .slide {
    width: 100%; }
  .testimonial .arrow {
    display: inline-block;
    position: absolute;
    top: calc(50% - 13px);
    cursor: pointer; }
  .testimonial .arrow-left {
    left: 75px; }
    @media (max-width: 750px) {
      .testimonial .arrow-left {
        left: 25px; } }
    @media (max-width: 450px) {
      .testimonial .arrow-left {
        left: 10px; } }
  .testimonial .arrow-right {
    right: 75px; }
    @media (max-width: 750px) {
      .testimonial .arrow-right {
        right: 25px; } }
    @media (max-width: 450px) {
      .testimonial .arrow-right {
        right: 10px; } }

.slider-margin-top, .services-slider .sliders .left-sliders .services-main-slider, .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container {
  margin-top: 16.66vh; }
  @media (max-height: 600px) {
    .slider-margin-top, .services-slider .sliders .left-sliders .services-main-slider, .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container {
      margin-top: 100px; } }
  @media (min-height: 1024px) {
    .slider-margin-top, .services-slider .sliders .left-sliders .services-main-slider, .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container {
      margin-top: 170px; } }

.slider-bottom-height, .services-slider .sliders .left-sliders .services-info-slider, .services-slider .sliders .right-slider-and-tools .slider-nav {
  height: 16.66vh;
  min-height: 115px;
  overflow-x: scroll; }
  @media (max-height: 600px) {
    .slider-bottom-height, .services-slider .sliders .left-sliders .services-info-slider, .services-slider .sliders .right-slider-and-tools .slider-nav {
      height: 100px; } }
  @media (min-height: 1024px) {
    .slider-bottom-height, .services-slider .sliders .left-sliders .services-info-slider, .services-slider .sliders .right-slider-and-tools .slider-nav {
      height: 170px; } }

.slider-buttons-bottom-padding, .services-slider .sliders .left-sliders .learn-container {
  padding-bottom: 16.66vh; }
  @media (max-height: 600px) {
    .slider-buttons-bottom-padding, .services-slider .sliders .left-sliders .learn-container {
      padding-bottom: 100px; } }
  @media (min-height: 1024px) {
    .slider-buttons-bottom-padding, .services-slider .sliders .left-sliders .learn-container {
      padding-bottom: 170px; } }

.services-slider {
  max-height: 1200px;
  padding-top: 50px !important; }
  @media (max-width: 650px) {
    .services-slider {
      padding-top: 0 !important; } }
  .services-slider .sliders {
    display: flex;
    flex-direction: row; }
    .services-slider .sliders .left-sliders, .services-slider .sliders .right-slider-and-tools {
      padding-left: 25px; }
    .services-slider .sliders .left-sliders {
      position: relative;
      width: 66.5vw; }
      @media (max-width: 600px) {
        .services-slider .sliders .left-sliders {
          width: 100vw;
          padding-left: 2.5vw; } }
      .services-slider .sliders .left-sliders:after {
        content: "";
        position: absolute;
        background-color: #979797;
        width: 1px;
        height: 100%;
        top: 0;
        right: -1px; }
        @media (min-height: 1400px) {
          .services-slider .sliders .left-sliders:after {
            height: 1060px; } }
        @media (max-width: 600px) {
          .services-slider .sliders .left-sliders:after {
            display: none; } }
      .services-slider .sliders .left-sliders .services-title-slider {
        width: 100%;
        position: absolute;
        bottom: calc(66.66vh - 55px);
        z-index: 2;
        overflow-y: hidden;
        height: 225px;
        transform: translateX(-1px); }
        @media (max-width: 1024px) {
          .services-slider .sliders .left-sliders .services-title-slider {
            height: 21.95vw; } }
        @media (max-height: 690px) {
          .services-slider .sliders .left-sliders .services-title-slider {
            bottom: calc( 50vh + 60px ); } }
        @media (min-height: 1024px) {
          .services-slider .sliders .left-sliders .services-title-slider {
            bottom: auto;
            top: 0; } }
        @media (max-height: 600px) {
          .services-slider .sliders .left-sliders .services-title-slider {
            bottom: 360px; } }
        .services-slider .sliders .left-sliders .services-title-slider h1 {
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1;
          margin-bottom: 20px;
          opacity: 0;
          transition-duration: 1s; }
          @media (max-width: 1024px) {
            .services-slider .sliders .left-sliders .services-title-slider h1 {
              margin-bottom: 1.95vw; } }
        .services-slider .sliders .left-sliders .services-title-slider.phase-1 h1:first-of-type {
          transform: translateY(0);
          opacity: 1; }
        .services-slider .sliders .left-sliders .services-title-slider.phase-1 h1:nth-of-type(2), .services-slider .sliders .left-sliders .services-title-slider.phase-1 h1:nth-of-type(3), .services-slider .sliders .left-sliders .services-title-slider.phase-1 h1:nth-of-type(4) {
          transform: translateY(-225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-1 h1:nth-of-type(5) {
          transform: translateY(225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-2 h1:nth-of-type(2) {
          transform: translateY(0);
          opacity: 1; }
        .services-slider .sliders .left-sliders .services-title-slider.phase-2 h1:nth-of-type(5), .services-slider .sliders .left-sliders .services-title-slider.phase-2 h1:nth-of-type(3), .services-slider .sliders .left-sliders .services-title-slider.phase-2 h1:nth-of-type(4) {
          transform: translateY(-225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-2 h1:nth-of-type(1) {
          transform: translateY(225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-3 h1:nth-of-type(3) {
          transform: translateY(0);
          opacity: 1; }
        .services-slider .sliders .left-sliders .services-title-slider.phase-3 h1:nth-of-type(5), .services-slider .sliders .left-sliders .services-title-slider.phase-3 h1:nth-of-type(1), .services-slider .sliders .left-sliders .services-title-slider.phase-3 h1:nth-of-type(4) {
          transform: translateY(-225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-3 h1:nth-of-type(2) {
          transform: translateY(225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-4 h1:nth-of-type(4) {
          transform: translateY(0);
          opacity: 1; }
        .services-slider .sliders .left-sliders .services-title-slider.phase-4 h1:nth-of-type(5), .services-slider .sliders .left-sliders .services-title-slider.phase-4 h1:nth-of-type(1), .services-slider .sliders .left-sliders .services-title-slider.phase-4 h1:nth-of-type(2) {
          transform: translateY(-225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-4 h1:nth-of-type(3) {
          transform: translateY(225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-5 h1:nth-of-type(5) {
          transform: translateY(0);
          opacity: 1; }
        .services-slider .sliders .left-sliders .services-title-slider.phase-5 h1:nth-of-type(2), .services-slider .sliders .left-sliders .services-title-slider.phase-5 h1:nth-of-type(3), .services-slider .sliders .left-sliders .services-title-slider.phase-5 h1:nth-of-type(1) {
          transform: translateY(-225px); }
        .services-slider .sliders .left-sliders .services-title-slider.phase-5 h1:nth-of-type(4) {
          transform: translateY(225px); }
      .services-slider .sliders .left-sliders .services-main-slider {
        z-index: 1;
        position: relative; }
      .services-slider .sliders .left-sliders .services-info-slider {
        padding-top: 25px; }
      .services-slider .sliders .left-sliders .learn-container {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        margin-bottom: 25px; }
        .services-slider .sliders .left-sliders .learn-container .learn-prices a, .services-slider .sliders .left-sliders .learn-container .learn-people a, .services-slider .sliders .left-sliders .learn-container .learn-gallery a {
          padding-left: 35.7142857143px;
          display: none; }
          .services-slider .sliders .left-sliders .learn-container .learn-prices a:hover, .services-slider .sliders .left-sliders .learn-container .learn-people a:hover, .services-slider .sliders .left-sliders .learn-container .learn-gallery a:hover {
            opacity: 1; }
          .services-slider .sliders .left-sliders .learn-container .learn-prices a h5, .services-slider .sliders .left-sliders .learn-container .learn-people a h5, .services-slider .sliders .left-sliders .learn-container .learn-gallery a h5 {
            color: #000000;
            margin-bottom: 10px; }
          .services-slider .sliders .left-sliders .learn-container .learn-prices a.active, .services-slider .sliders .left-sliders .learn-container .learn-people a.active, .services-slider .sliders .left-sliders .learn-container .learn-gallery a.active {
            display: block; }
        .services-slider .sliders .left-sliders .learn-container .learn-gallery a {
          height: 43px;
          width: 22vw;
          min-width: 210px;
          max-width: 300px;
          background-color: #000000;
          border-top-right-radius: 22px;
          border-bottom-right-radius: 22px; }
          .services-slider .sliders .left-sliders .learn-container .learn-gallery a:hover {
            opacity: 1; }
          .services-slider .sliders .left-sliders .learn-container .learn-gallery a h5 {
            color: #FFFFFF;
            line-height: 43px; }
    .services-slider .sliders .right-slider-and-tools {
      width: 33.5vw; }
      @media (max-width: 600px) {
        .services-slider .sliders .right-slider-and-tools {
          width: 0;
          padding-left: 0;
          z-index: 3; } }
      .services-slider .sliders .right-slider-and-tools .slider-nav {
        padding-top: 16.6666666667px;
        text-align: right;
        margin-right: 16.6666666667px;
        overflow-y: hidden; }
        @media (max-width: 600px) {
          .services-slider .sliders .right-slider-and-tools .slider-nav {
            position: absolute;
            z-index: 2;
            top: 100px;
            right: 0; } }
        .services-slider .sliders .right-slider-and-tools .slider-nav p, .services-slider .sliders .right-slider-and-tools .slider-nav .team-header .filters .filter, .team-header .filters .services-slider .sliders .right-slider-and-tools .slider-nav .filter {
          line-height: 1.5;
          margin-bottom: 0;
          position: relative; }
          .services-slider .sliders .right-slider-and-tools .slider-nav p.selected, .services-slider .sliders .right-slider-and-tools .slider-nav .team-header .filters .selected.filter, .team-header .filters .services-slider .sliders .right-slider-and-tools .slider-nav .selected.filter {
            font-weight: 700; }
          @media (max-width: 600px) {
            .services-slider .sliders .right-slider-and-tools .slider-nav p, .services-slider .sliders .right-slider-and-tools .slider-nav .team-header .filters .filter, .team-header .filters .services-slider .sliders .right-slider-and-tools .slider-nav .filter {
              display: none; } }
        .services-slider .sliders .right-slider-and-tools .slider-nav .mobile-nav {
          display: none;
          height: 20px;
          position: relative; }
          @media (max-width: 600px) {
            .services-slider .sliders .right-slider-and-tools .slider-nav .mobile-nav {
              display: block; } }
          .services-slider .sliders .right-slider-and-tools .slider-nav .mobile-nav.selected:after {
            position: absolute;
            content: '\2022';
            height: 10px;
            width: 10px;
            color: #000000;
            left: 0;
            font-size: 25px;
            transform: translate(-1px, -7px); }
      .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container {
        position: relative; }
        .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container .arrows {
          padding: 16.6666666667px 16.6666666667px 12.5px 16.6666666667px;
          position: absolute;
          bottom: 0;
          right: 0;
          display: flex;
          flex-direction: row;
          background-color: #000000;
          cursor: pointer; }
          .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container .arrows polyline {
            stroke: #FFFFFF !important; }
          .services-slider .sliders .right-slider-and-tools .services-secondary-slider-container .arrows .arrow-left {
            margin-right: 16.6666666667px; }
  .services-slider .services-main-slider .background-image, .services-slider .services-secondary-slider .background-image {
    height: 50vh;
    min-height: 300px;
    max-height: 720px; }

@media (max-width: 450px) {
  .product-sample .inner {
    padding: 2.5vw; } }
.product-sample h4 {
  border-bottom: 1px solid #979797; }
  @media (max-width: 700px) {
    .product-sample h4 {
      padding-bottom: 10px;
      font-size: 21px; } }
.product-sample .items {
  display: flex;
  flex-direction: row; }
  @media (max-width: 600px) {
    .product-sample .items {
      flex-direction: column; } }
  .product-sample .items .item {
    margin-right: 2.5vw;
    text-align: center; }
    @media (max-width: 600px) {
      .product-sample .items .item {
        margin-bottom: 33.3333333333px;
        margin-right: 0; } }
    .product-sample .items .item p, .product-sample .items .item .team-header .filters .filter, .team-header .filters .product-sample .items .item .filter {
      margin-bottom: 0;
      margin-top: 12.5px; }
      @media (max-width: 600px) {
        .product-sample .items .item p, .product-sample .items .item .team-header .filters .filter, .team-header .filters .product-sample .items .item .filter {
          margin-top: 0; } }
      .product-sample .items .item p.light, .product-sample .items .item .team-header .filters .light.filter, .team-header .filters .product-sample .items .item .light.filter {
        margin-top: 5px; }
    .product-sample .items .item:last-of-type {
      margin-right: 0; }
@media (max-width: 450px) {
  .product-sample {
    padding-bottom: 0; } }

.one-stop-shop {
  margin-left: 2.5vw !important;
  width: 97.5vw;
  position: relative;
  background-position: left center !important; }
  @media (max-width: 700px) {
    .one-stop-shop {
      background-position: 40% top !important; } }
  @media (max-width: 450px) {
    .one-stop-shop {
      background-position: 30% top !important; } }
  .one-stop-shop::after {
    position: absolute;
    width: 1px;
    height: 130%;
    content: "";
    background-color: #979797;
    left: 0;
    top: -15%; }
    @media (max-width: 450px) {
      .one-stop-shop::after {
        height: 115%;
        top: -7.5%; } }
  @media (max-width: 700px) {
    .one-stop-shop h3 {
      margin-bottom: 10px; } }
  @media (max-width: 450px) {
    .one-stop-shop h3 {
      width: 120%;
      transform: translateX(-10%); } }
  .one-stop-shop .arrow {
    transform: rotate(-90deg) translateY(3px);
    margin-bottom: 12.5px; }
  .one-stop-shop .text {
    padding-right: 5vw;
    text-align: center;
    width: 40vw;
    margin-left: 50vw; }
    @media (max-width: 700px) {
      .one-stop-shop .text {
        width: 62.5vw;
        padding-right: 0;
        margin-left: 17.5vw; } }
    .one-stop-shop .text button {
      margin-top: 25px; }

@media (max-width: 850px) {
  .team-header .inner {
    padding: 0; } }
.team-header .filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .team-header .filters {
      flex-direction: column;
      align-items: center; } }
  .team-header .filters .filter {
    background-color: #F4F4F4;
    line-height: 1;
    padding-top: 10.5px;
    padding-bottom: 10.5px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    margin: 10px;
    display: inline-block;
    position: relative; }
    @media (max-width: 700px) {
      .team-header .filters .filter {
        width: 80%;
        margin: 5px 0; } }
    @media (max-width: 450px) {
      .team-header .filters .filter {
        width: calc( 100vw - 25px);
        margin: 5px 0 0 0; } }
    .team-header .filters .filter.unselected {
      color: rgba(0, 0, 0, 0.3);
      background-color: rgba(216, 216, 216, 0.11); }
    .team-header .filters .filter svg {
      position: absolute;
      height: 75%;
      right: 12px;
      top: 12.5%;
      cursor: pointer;
      transform: scale(1);
      transition-duration: .5s; }
      .team-header .filters .filter svg #cross.hide {
        display: none; }
      .team-header .filters .filter svg:hover {
        transform: scale(1.1); }

.team-member {
  padding: 0; }
  .team-member .employee {
    width: 100%;
    padding: 0 0 100px 0; }
    @media (max-width: 750px) {
      .team-member .employee .background-image {
        margin-top: 10px; } }
    .team-member .employee.hide {
      display: none; }
    .team-member .employee .ability {
      display: inline-block;
      margin-left: 25px;
      margin-bottom: 0; }
      @media (max-width: 750px) {
        .team-member .employee .ability {
          transform: translateX(12.5px); } }
  .team-member:nth-of-type(even) .employee {
    flex-direction: row-reverse; }
    @media (max-width: 750px) {
      .team-member:nth-of-type(even) .employee {
        flex-direction: column; } }
    .team-member:nth-of-type(even) .employee .text {
      text-align: left;
      margin-right: 0;
      margin-left: 75px; }
      @media (max-width: 750px) {
        .team-member:nth-of-type(even) .employee .text {
          margin-left: 0;
          text-align: center; } }
    .team-member:nth-of-type(even) .employee .ability {
      margin-left: 0;
      margin-right: 25px; }
    .team-member:nth-of-type(even) .employee .background-image:before {
      left: auto;
      right: -37.5px; }
      @media (max-width: 750px) {
        .team-member:nth-of-type(even) .employee .background-image:before {
          height: 0;
          width: 0; } }

.empty-team-list {
  text-align: center;
  width: 100%; }
  .empty-team-list.hide {
    display: none; }

.prices {
  padding-bottom: 0; }
  .prices .page-title {
    margin-bottom: 50px; }
  .prices .menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
    @media (max-width: 1224px) {
      .prices .menus {
        flex-direction: column; } }
    .prices .menus .menu {
      background-color: #F4F4F4;
      margin-bottom: 2vw;
      width: 45%;
      margin-right: 2vw;
      flex-grow: 5; }
      @media (max-width: 1024px) {
        .prices .menus .menu {
          margin-bottom: 25px; } }
      .prices .menus .menu:first-of-type {
        width: 100vw; }
      .prices .menus .menu:nth-of-type(odd), .prices .menus .menu:last-of-type {
        margin-right: 0; }
      .prices .menus .menu:last-of-type .content p, .prices .menus .menu:last-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:last-of-type .content .filter, .prices .menus .menu:first-of-type .content p, .prices .menus .menu:first-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:first-of-type .content .filter {
        width: 20%;
        margin-right: 4%; }
        @media (max-width: 1224px) {
          .prices .menus .menu:last-of-type .content p, .prices .menus .menu:last-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:last-of-type .content .filter, .prices .menus .menu:first-of-type .content p, .prices .menus .menu:first-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:first-of-type .content .filter {
            width: 29.33%;
            margin-right: 4%; } }
        @media (max-width: 562.5px) {
          .prices .menus .menu:last-of-type .content p, .prices .menus .menu:last-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:last-of-type .content .filter, .prices .menus .menu:first-of-type .content p, .prices .menus .menu:first-of-type .content .team-header .filters .filter, .team-header .filters .prices .menus .menu:first-of-type .content .filter {
            width: calc(50% - 12.5px);
            margin-right: 25px; }
            .prices .menus .menu:last-of-type .content p:nth-of-type(even), .prices .menus .menu:last-of-type .content .team-header .filters .filter:nth-of-type(even), .team-header .filters .prices .menus .menu:last-of-type .content .filter:nth-of-type(even), .prices .menus .menu:first-of-type .content p:nth-of-type(even), .prices .menus .menu:first-of-type .content .team-header .filters .filter:nth-of-type(even), .team-header .filters .prices .menus .menu:first-of-type .content .filter:nth-of-type(even) {
              margin-right: 0; } }
      @media (max-width: 1224px) {
        .prices .menus .menu {
          width: 100vw;
          margin-right: 0; } }
  .prices .text {
    padding: 37.5px 75px; }
    @media (max-width: 700px) {
      .prices .text {
        padding-left: 33.3333333333px;
        padding-right: 33.3333333333px; } }
    @media (max-width: 450px) {
      .prices .text {
        padding-left: 25px;
        padding-right: 25px; } }
    .prices .text .title {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: 12.5px; }
      .prices .text .title h2 {
        line-height: 1;
        margin-right: 25px; }
        @media (max-width: 700px) {
          .prices .text .title h2 {
            font-size: 44px; } }
      .prices .text .title a {
        cursor: pointer; }
      @media (max-width: 450px) {
        .prices .text .title p, .prices .text .title .team-header .filters .filter, .team-header .filters .prices .text .title .filter {
          min-width: 120px; } }
    .prices .text .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start; }
      .prices .text .content p, .prices .text .content .team-header .filters .filter, .team-header .filters .prices .text .content .filter {
        display: inline-block;
        width: 46%;
        margin-right: 4%; }
        @media (max-width: 1224px) {
          .prices .text .content p, .prices .text .content .team-header .filters .filter, .team-header .filters .prices .text .content .filter {
            width: 29.33%;
            margin-right: 4%; } }
        @media (max-width: 562.5px) {
          .prices .text .content p, .prices .text .content .team-header .filters .filter, .team-header .filters .prices .text .content .filter {
            width: calc(50% - 12.5px);
            margin-right: 25px; }
            .prices .text .content p:nth-of-type(even), .prices .text .content .team-header .filters .filter:nth-of-type(even), .team-header .filters .prices .text .content .filter:nth-of-type(even) {
              margin-right: 0; } }

.gallery-page {
  padding-bottom: 0; }
  .gallery-page .page-title {
    margin-bottom: 50px; }
  .gallery-page .galleries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; }
    .gallery-page .galleries .gallery {
      background-color: #F4F4F4;
      margin-bottom: 2vw;
      width: 45%;
      margin-right: 2vw;
      flex-grow: 5; }
      .gallery-page .galleries .gallery:first-of-type {
        width: 100vw; }
      .gallery-page .galleries .gallery:nth-of-type(odd) {
        margin-right: 0; }
      @media (max-width: 850px) {
        .gallery-page .galleries .gallery {
          width: 100vw;
          margin-right: 0; } }
      .gallery-page .galleries .gallery .content {
        padding: 37.5px 75px;
        position: relative; }
        @media (max-width: 700px) {
          .gallery-page .galleries .gallery .content {
            padding-left: 33.3333333333px;
            padding-right: 33.3333333333px; } }
        @media (max-width: 450px) {
          .gallery-page .galleries .gallery .content {
            padding-left: 25px;
            padding-right: 25px; } }
        .gallery-page .galleries .gallery .content .title {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          margin-bottom: 12.5px; }
          .gallery-page .galleries .gallery .content .title h2 {
            line-height: 1;
            margin-right: 25px; }
            @media (max-width: 700px) {
              .gallery-page .galleries .gallery .content .title h2 {
                font-size: 44px; } }
            @media (max-width: 360px) {
              .gallery-page .galleries .gallery .content .title h2 {
                margin-right: 10px;
                transform: translateY(-3px); } }
          .gallery-page .galleries .gallery .content .title a {
            cursor: pointer; }
        .gallery-page .galleries .gallery .content .lashes-gallery-slider, .gallery-page .galleries .gallery .content .hair-gallery-slider, .gallery-page .galleries .gallery .content .nails-gallery-slider {
          height: 28.5vw;
          width: 58.5vw; }
          @media (max-width: 850px) {
            .gallery-page .galleries .gallery .content .lashes-gallery-slider, .gallery-page .galleries .gallery .content .hair-gallery-slider, .gallery-page .galleries .gallery .content .nails-gallery-slider {
              left: -75px;
              width: 115vw; } }
          .gallery-page .galleries .gallery .content .lashes-gallery-slider .background-image, .gallery-page .galleries .gallery .content .hair-gallery-slider .background-image, .gallery-page .galleries .gallery .content .nails-gallery-slider .background-image {
            width: 28.5vw;
            height: 28.5vw;
            margin-right: 1.5vw; }
        .gallery-page .galleries .gallery .content .gallery-holder {
          height: 28.5vw;
          position: relative;
          width: 100%; }
          .gallery-page .galleries .gallery .content .gallery-holder .nails-gallery-slider {
            position: absolute;
            right: 0; }
            .gallery-page .galleries .gallery .content .gallery-holder .nails-gallery-slider .background-image {
              margin-right: 0;
              margin-left: 1.5vw; }
        .gallery-page .galleries .gallery .content .hair-gallery-slider {
          position: relative;
          left: -75px;
          width: 115vw; }
        .gallery-page .galleries .gallery .content .arrow {
          position: absolute;
          right: 75px;
          top: 37.5px;
          cursor: pointer; }
          @media (max-width: 1024px) {
            .gallery-page .galleries .gallery .content .arrow {
              right: 25px; } }
          @media (max-width: 700px) {
            .gallery-page .galleries .gallery .content .arrow {
              top: 25px; } }
          @media (max-width: 450px) {
            .gallery-page .galleries .gallery .content .arrow {
              right: 10px; } }
          .gallery-page .galleries .gallery .content .arrow svg {
            height: 75px !important; }
            @media (max-width: 1024px) {
              .gallery-page .galleries .gallery .content .arrow svg {
                height: 7.324vw; } }
      .gallery-page .galleries .gallery:last-of-type .content {
        padding: 37.5px 25px; }
        @media (max-width: 850px) {
          .gallery-page .galleries .gallery:last-of-type .content {
            padding-left: 75px; } }
        @media (max-width: 700px) {
          .gallery-page .galleries .gallery:last-of-type .content {
            padding-left: 33.3333333333px; } }
        @media (max-width: 450px) {
          .gallery-page .galleries .gallery:last-of-type .content {
            padding-right: 25px; } }
      .gallery-page .galleries .gallery:nth-of-type(2) .content {
        padding: 37.5px 25px 37.5px 75px; }
        @media (max-width: 700px) {
          .gallery-page .galleries .gallery:nth-of-type(2) .content {
            padding-left: 33.3333333333px;
            padding-right: 33.3333333333px; } }
        @media (max-width: 450px) {
          .gallery-page .galleries .gallery:nth-of-type(2) .content {
            padding-left: 25px;
            padding-right: 25px; } }

.index-sections, .collection-page {
  width: 80vw;
  margin-left: 20vw;
  padding-right: 50px; }
  .index-sections header, .collection-page header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #979797; }
    .index-sections header .h4, .collection-page header .h4 {
      color: #000000;
      margin-bottom: 0; }
    .index-sections header .collection-sorting__dropdown select, .index-sections header .collection-sorting__dropdown option, .collection-page header .collection-sorting__dropdown select, .collection-page header .collection-sorting__dropdown option {
      padding: 8.3333333333px 12.5px; }
  .index-sections .leaves, .collection-page .leaves {
    z-index: 900;
    position: absolute;
    width: 50vw;
    top: 0;
    left: 25vw; }
