<!-- /templates/list-collections.liquid -->
{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

{% comment %}{{ content_for_index }} {% section "sidebar" %} {% section "header" %} {% endcomment %}
{% comment %}{% section 'list-collections-template' %}{% endcomment %}

<div class="index-sections">
  {{ content_for_index }}
</div>

{% include 'text-image-block' with header:settings.global-2-header, paragraph:settings.global-2-paragraph, buttonText:settings.global-2-button-text, buttonDest:settings.global-2-button-dest, orientation: "reversed", image:settings.global-2-img %}

<!--footer -->
  {% include 'testimonial-slider' %}
<!--end footer -->

