<!-- /templates/list-collections.liquid -->
{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

{% comment %}{{ content_for_index }} {% section "sidebar" %} {% section "header" %} {% endcomment %}
{% comment %}{% section 'list-collections-template' %}{% endcomment %}

<div class="index-sections">
  {{ content_for_index }}
</div>

{% include 'text-image-block' with header:"Jean lyfe", paragraph:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.", buttonText:"Shop Jackets" buttonDest:"/" orientation: "reversed" %} 

<!--footer -->
  {% include 'testimonial-slider' %}
<!--end footer -->

