

<!-- /templates/page.prices.liquid -->
 <div class="section prices">
    <div class="inner">
        <div class="page-title">
            <img src="{{ 'title-prices.png' | asset_url }}">
        </div>
    </div>
    <div class="menus">
        {% for article in blogs.menu.articles limit: 4 %}
            <div class="menu primary">
                <div class="text">
                    <div class="title">
                        <h2>{{article.title}}</h2>
                        <p>Check out <br />our <u><a href="/pages/gallery">{{article.title}} gallery.</a></u></p>
                    </div>
                    <div class="content">
                        {{article.content | replace: '$', '</br><b>$' | replace: '+', '+</b>'}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!--footer -->
  {% include 'testimonial-slider' %}
<!--end footer -->