<!-- /templates/page.gallery.liquid -->
 <div class="section team">
    <div class="inner">
        <div class="page-title">
            <img src="{{ 'title-gallery.png' | asset_url }}">
        </div>
    </div>
</div>