<!-- /templates/page.prices.liquid -->
 <div class="section prices">
    <div class="inner">
        <div class="page-title">
            <img src="{{ 'title-prices.png' | asset_url }}">
        </div>
    </div>
    <div class="menu">
        <div class="inner">
            <div class="title">
                <h2>Hair</h2>
                <p>Check out <br />our <u>hair gallery.</u></p>
            </div>
            <div class="content">
                <div>
                    <p>Womans haircut  $40.00+</p>
                    <p>Mens haircut  $25.00+</p>
                    <p>Solid color  $100.00+</p>
                    <p>Root touch up  $80.00+</p>
                    <p>Partial highlight  $125.00+</p>
                    <p>Full highlight  $145.00+</p>
                    <p>Balayage  $165.00+</p>
                    <p>Ombre  $165.00+</p>
                </div>
                <div>
                    <p>Ombre  $165.00+</p>
                    <p>Toner  65.00+</p>
                    <p>Hair Extensions $400.00+</p>
                    <p>Hair Extensions Touch up $85.00+</p>   
                </div>
            </div>
        </div>
    </div>

</div>