#shopify-section-header {
    position: sticky;
    top: 0;
    z-index: 990;
}

nav {
    background-color: $black;
    padding: $base / 8 $base;
    position: relative;
    z-index: 901;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-sm){
        padding: $base / 8 $base / 2;
    }
    .shop-amount {
        position: absolute;
        font-size: 10px;
        background-color: $white;
        color: $black;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        line-height: 14px;
        text-align: center;
        bottom: 0;
        right: $base / -10;
    }
    .shop-icon {
        width: 16px;
        height: 20PX;
    }
    .call-icon {
        width: 18px;
        height: 18px;
    }
    .menu-icon {
        width: 18px;
        height: 16px;
    }
    .logo {
        position: relative;
        top: $base / 10;
        &:hover {
            opacity: 1;
        }
        img {
            width: 127px;
            height: 57px;
            @media (max-width: $screen-sm){
                height: 32px;
                width: 71px;
            }
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @media (max-width: $screen-sm){
            display: none;
        }
        li {
            margin-right: $base / 2;
            &:last-of-type {
                margin-right: 0;
            }
            &:nth-of-type(5) {
                margin-right: $base / 4;
                transform: translateY(1px);
            }
            a {
                color: $white;
                @extend .p;
                position: relative;
            }
        }
    }
    .mobile-nav {
        display: none;
        @media (max-width: $screen-sm){
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
                position: relative;
                padding-left: $base / 3;
            }
        }
    }
    &.side-bar {
        background-color: transparent;
        position: absolute;
        padding-top: $base * 2;
        padding-right: $base / 2;
        .list--nav {
            display: flex;
            flex-direction: column;
            li {
                width: 100%;
                background-color: $cool-grey;
                border: none;
                margin-bottom: $base / 6;
                opacity: .55;
                a {
                    font-size: 14px;
                }
                &:hover {
                    opacity: 1;
                    a {
                        font-weight: 700;
                    }
                }
                a {
                    padding: $base / 6 $base / 4;
                }
                &.active {
                    opacity: 1;
                    font-weight: 700;
                }
            }
        }
    }
    &.breadcrumb-nav {
        background-color: transparent;
    }
}

.shop-bar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: $base / 4 $base $base / 4 $base /4 ;
    margin-bottom: $base * 2;
    position: relative;
    .check-out {
        margin-left: $base /2;
    }
}