.one-stop-shop {
    margin-left: 2.5vw !important;
    width: 97.5vw;
    position: relative;
    &::after {
        position: absolute;
        width: 1px;
        height: 130%;
        content: "";
        background-color: $dark-grey;
        left: 0;
        top: -15%;

    }
    .arrow {
        transform: rotate(-90deg) translateY(3px);
        margin-bottom: $base / 4;
    }
   .text {
       padding-right: 5vw;
       text-align: center;
       width: 40vw;
       margin-left: 50vw;
       button {
           margin-top: $base / 2;
       }
   } 
}