.one-stop-shop {
    margin-left: 2.5vw !important;
    width: 97.5vw;
    position: relative;
    &::after {
        position: absolute;
        width: 1px;
        height: 130%;
        content: "";
        background-color: $dark-grey;
        left: 0;
        top: -15%;

    }
   .text {
       padding: 5vw;
       text-align: center;
       width: 60vw;
       margin-left: 37.5vw;
   } 
}