.prices {
    .menu {
        background-color: $cool-grey;
        &.secondary {
            width: 50%;
            &:last-of-type {
                width: 100%;
            }
        }
        .title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            h2 {
                line-height: 1;
                margin-right: $base;
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;   
            max-height: 50vh;
            min-height: 300px;  
            p {
                display: inline-block;
            }     
        }
    }
}