#ProductSection {
    padding-bottom: 0;
    padding-top: $base;
    @media (max-width: 650px){
        padding-top: 0;
    }
    @media (max-width: $screen-tiny){
        margin-top: $base / 2 !important;
    }
    .inner {
        @media (max-width: $screen-tiny){
            padding-left: 2.5vw;
            padding-right: 2.5vw;
        }
    }
    .desktop-hide {
        display: none;
        padding-bottom: 0;
        @media ( max-width: 600px ){
            display: block;
            text-align: center;
        }
    }
    .product-container {
        display: flex; 
        flex-direction: row;
        @media (max-width: 600px){
            flex-direction: column;
        }
        .product-image {
            flex: 1;
            .product-single__thumbnails {
                display: flex;
                flex-direction: row;
                li {
                    flex: 1;
                    margin-bottom: 0;
                    padding-left: 2vw;
                    &:first-of-type {
                        padding-left: 0;
                    }
                }
            }
        }
        .product-info {
            padding-left: $base;
            flex: 2;
            @media (max-width: $screen-sm){
                padding-left: $base / 4;
            }
            h1 {
                margin-bottom: 0;
                @media (max-width: 600px){
                    display: none;
                }
            }
            #ProductPrice {
                @extend p;
                @extend .light;
            }
        }
    }
    .btn--view-cart {
        border-width: 1px;
    }
    .breadcrumb-nav {
        margin-top: 0;
        padding-bottom: $base / 3;
        margin-bottom: $base / 2;
        border-bottom: 1px solid $dark-grey;
        @media (max-width: 600px){
            padding-bottom: $base / 6;
        }
    }
    .product-single__thumbnails {
        margin-left: 0;
    }
}