.slider-margin-top {
    margin-top: 16.66vh;
    @media (max-height: 600px ){
        margin-top: 100px;
    }
    @media( min-height: 1024px){
       margin-top: 170px;
    }

}

.slider-bottom-height {
    height: 16.66vh;
    min-height: 115px;
    overflow-x: scroll;
    @media (max-height: 600px ){
        height: 100px;
    }
    @media( min-height: 1024px){
        height: 170px;
    }
}

.slider-buttons-bottom-padding {
    padding-bottom: 16.66vh;
    @media (max-height: 600px){
        padding-bottom: 100px;
    }
    @media( min-height: 1024px){
        padding-bottom: 170px;
    }
}

.elements-buttom-push {
    bottom: calc(66.66vh - 55px);
    @media( max-height: 690px){
        bottom: calc( 50vh + 60px );
    }
    @media (min-height: 1024px){
        bottom: auto;
        top: 0;
    }
    @media( max-height: 600px){
        bottom: 360px;
    }
}

.services-slider {
    max-height: 1200px;
    padding-top: $base !important;
    overflow: hidden;
    margin-top: $base * 2 !important;
    @media (max-width: 1000px){
        margin-top: $base !important;
    }
    @media (max-width: 650px){
        padding-top: 0 !important;
    }
    @media (max-width: 600px){
        margin-top: 0 !important;
    }
    .sliders {
        display: flex;
        flex-direction: row;

        @media (max-width: 600px){
            position: relative;
        }

        .left-sliders, .right-slider-and-tools {
            padding-left: $base / 2;
        }
        .left-sliders {
            position: relative;
            width: 66.5vw;
            @media (max-width: 600px){
                width: 100vw;
                padding-left: 2.5vw;
            }
            &:after {
                content: "";
                position: absolute;
                background-color: $dark-grey;
                width: 1px;
                height: 100%;
                top: 0;
                right: -1px;
                @media (min-height: 1400px){
                    height: 1060px;
                }
                @media (max-width: 600px){
                    display: none;
                }
            }
            .services-title-slider {
                width: 100%;
                position: absolute;
                z-index: 2;
                overflow-y: hidden;
                height: 225px;
                transform: translateX(-1px);
                @media (max-width: $screen-base){
                    height: 21.95vw;
                }
                @extend .elements-buttom-push;
                h1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                    margin-bottom: 20px;
                    opacity: 0;
                    transition-duration: 1s;
                    @media (max-width: $screen-base){
                        margin-bottom: 1.95vw;
                    }
                }
                //five states of slider, all opacity 0 unless in place
                //regular: 1 in place, 2 below, 5 above
                &.phase-1 {
                    h1:first-of-type {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(2), h1:nth-of-type(3), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(5) {
                        transform: translateY(225px);
                    }
                }
                //stage 2: 2 in place, 3 below, 1 above
                &.phase-2 {
                    h1:nth-of-type(2) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(3), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(1) {
                        transform: translateY(225px);
                    }
                }
                //stage 3: 3 in place, 4 below, 2 above
                &.phase-3 {
                    h1:nth-of-type(3) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(1), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(2) {
                        transform: translateY(225px);
                    }
                }
                //stage 4: 4 in place, 5 below, 3 above
                &.phase-4 {
                    h1:nth-of-type(4) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(1), h1:nth-of-type(2) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(3) {
                        transform: translateY(225px);
                    }
                }
                //stage 5: 5 in place, 1 below, 4 above
                &.phase-5{
                    h1:nth-of-type(5) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(2), h1:nth-of-type(3), h1:nth-of-type(1) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(4) {
                        transform: translateY(225px);
                    }
                }
            }
            .services-main-slider {
                @extend .slider-margin-top;
                z-index: 1;
                position: relative;
            }
            .services-info-slider {
                @extend .slider-bottom-height;
                padding-top: $base / 2;

                @media (max-width: 600px){
                    margin-right: $base / 4;
                }
            }
            .learn-container {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 2;
                @extend .slider-buttons-bottom-padding;
                margin-bottom: $base  / 2;
                .learn-prices, .learn-people, .learn-gallery {
                    a {
                        padding-left: $base / 1.4;
                        display: none;
                        &:hover {
                            opacity: 1;
                        }
                        h5 {
                            color: $black;
                            margin-bottom: $base / 5;
                        }
                        &.active {
                            display: block;
                        }
                    }
                }
                .learn-gallery {
                    a {
                        height: 43px;
                        width: 22vw;
                        min-width: 210px;
                        max-width: 300px;
                        background-color: $black;
                        border-top-right-radius: 22px;
                        border-bottom-right-radius: 22px;
                        &:hover {
                            opacity: 1;
                        }
                        h5 {
                            color: $white;
                            line-height: 43px;
                        }
                    }
                }
            }
        }
        .right-slider-and-tools {
            width: 33.5vw;
            @media (max-width: 600px){
                width: 0;
                padding-left: 0;
                z-index: 3;
            }
            .slider-nav {
                padding-top: $base / 3;
                text-align: right;
                margin-right: $base / 3;
                overflow-y: hidden;
                @extend .slider-bottom-height;
                @extend .elements-buttom-push;
                @media (max-width: 600px){
                    position: absolute;
                    z-index: 2;
                    top: $base;
                    right: 0;
                    
                }
                p {
                    line-height: 1.5;
                    margin-bottom: 0;
                    position: relative;
                    &.selected {
                        font-weight: 700;
                    }
                    @media (max-width: 600px){
                        display: none;
                    }
                }
                .mobile-nav {
                    display: none;
                    height: $base / 2.5;
                    position: relative;
                    @media (max-width: 600px){
                        display: block;
                    }
                    &.selected {
                        &:after {
                            position: absolute;
                            content: '';
                            height: 6px;
                            width: 6px;
                            background: $black;
                            left: 0;
                            border-radius: 50%;
                            transform: translate( 2px, 9px);
                        }
                    }
                }
            }
            .services-secondary-slider-container {
                position: relative;
                @extend .slider-margin-top;
                .arrows {
                    padding: $base / 3 $base / 3 $base / 4 $base / 3;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: row;
                    background-color: $black;
                    cursor: pointer;
                    polyline {
                        stroke: $white !important;
                    }
                    .arrow-left {
                        margin-right: $base / 3;
                    }
                }
                .services-secondary-slider {

                }
            }
        }
    }
    .services-main-slider, .services-secondary-slider {
        .background-image {
            height: 50vh;
            min-height: 300px;
            max-height: 720px;
        }
    }
}
