.slider-margin-top {
    margin-top: 16.66vh;
    @media (max-height: 600px ){
        margin-top: 100px;
    }
}

.slider-bottom-height {
    height: 16.66vh;
    overflow-x: scroll;
    @media (max-height: 600px ){
        height: 100px;
    }
}

.services-slider {
    .sliders {
        display: flex;
        flex-direction: row;
        .left-sliders, .right-slider-and-tools {
            padding-left: $base / 2;
        }
        .left-sliders {
            position: relative;
            width: 66.5vw;
            border-right: 1px solid $dark-grey;
            .services-title-slider {
                width: 100%;
                position: absolute;
                top: -5vw;
                z-index: 2;
                overflow-y: hidden;
                height: 225px;
                @media (max-width: $screen-base){
                    height: 21.95vw;
                }
                h1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 1;
                    margin-bottom: 20px;
                    opacity: 0;
                    transition-duration: 1s;
                    @media (max-width: $screen-base){
                        margin-bottom: 1.95vw;
                    }
                }
                //five states of slider, all opacity 0 unless in place
                //regular: 1 in place, 2 below, 5 above
                &.phase-1 {
                    h1:first-of-type {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(2), h1:nth-of-type(3), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(5) {
                        transform: translateY(225px);
                    }
                }
                //stage 2: 2 in place, 3 below, 1 above
                &.phase-2 {
                    h1:nth-of-type(2) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(3), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(1) {
                        transform: translateY(225px);
                    }
                }
                //stage 3: 3 in place, 4 below, 2 above
                &.phase-3 {
                    h1:nth-of-type(3) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(1), h1:nth-of-type(4) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(2) {
                        transform: translateY(225px);
                    }
                }
                //stage 4: 4 in place, 5 below, 3 above
                &.phase-4 {
                    h1:nth-of-type(4) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(5), h1:nth-of-type(1), h1:nth-of-type(2) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(3) {
                        transform: translateY(225px);
                    }
                }
                //stage 5: 5 in place, 1 below, 4 above
                &.phase-5{
                    h1:nth-of-type(5) {
                        transform: translateY(0);
                        opacity: 1;
                    }
                    h1:nth-of-type(2), h1:nth-of-type(3), h1:nth-of-type(1) {
                        transform: translateY(-225px);
                    }
                    h1:nth-of-type(4) {
                        transform: translateY(225px);
                    }
                }
            }
            .services-main-slider {
                @extend .slider-margin-top;
                z-index: 1;
                position: relative;
            }
            .services-info-slider {
                @extend .slider-bottom-height;
                padding-top: $base / 2;
            }
        }
        .right-slider-and-tools {
            width: 33.5vw;
            .slider-nav {
                padding-top: $base / 3;
                text-align: right;
                margin-right: $base / 3;
                @extend .slider-bottom-height;
                p {
                    line-height: 1.5;
                    margin-bottom: 0;
                    &.selected {
                        font-weight: 700;
                    }
                }
            }
            .services-secondary-slider-container {
                position: relative;
                @extend .slider-margin-top;
                .arrows {
                    padding: $base / 3 $base / 3 $base / 4 $base / 3;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: row;
                    background-color: $black;
                    polyline {
                        stroke: $white !important;
                    }
                    .arrow-left {
                        margin-right: $base / 3;
                    }
                }
                .services-secondary-slider {

                }
            }
        }
    }
    .services-main-slider, .services-secondary-slider {
        .background-image {
            height: 50vh;
            min-height: 300px;
        }
    }
}

