.testimonial {
    position: relative;
    .testimonial-slider {

        .slide {
            display: none;
            padding: 0 $base * 3;
            pointer-events: none;
            //on file named base.scss
            @extend .image-with-text;

            @media (max-width: 750px){
                padding: 0 $base * 1.5;
            }
            &:first-of-type {
                display: flex;
            }
        }
        &.slick-initialized .slide {
            display: flex;
        }
    }
    .arrow {
        display: inline-block;
        position: absolute;
        top: calc(50% - 13px);
        cursor: pointer;
    }
    .arrow-left {
        left: $base * 1.5;
        @media (max-width: 750px){
            left: $base / 2;
        }
        @media (max-width: $screen-tiny){
            left: $base / 5;
        }
    }
    .arrow-right {
        right: $base * 1.5;
        @media (max-width: 750px){
            right: $base / 2;
        }
        @media (max-width: $screen-tiny){
            right: $base / 5;
        }
    }
}